/* Scrollbar Selectors
For webkit browsers, you can use the following pseudo elements to customize the browser's scrollbar: */

/* ::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.
 */

* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
section > div {
	padding: 10px;
	flex: 0.48;
	height: 10rem;
	overflow-y: auto;
}
#custom1::-webkit-scrollbar {
	width: 5px;
}
#custom1::-webkit-scrollbar-track {
	background-color: #fff578;
	border-radius: 5px;
}
#custom1::-webkit-scrollbar-thumb {
	background-color: #ff7171;
	border-radius: 5px;
}
#custom1::-webkit-scrollbar-thumb:hover {
	background-color: #ff0000;
}
