* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
}
.modal-page {
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #000;
}
.btn {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

/* modal1 */
#myModal1 {
	overflow-y: hidden;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
}
.modal-content {
	border: 1px solid #007bff;
	box-shadow: 0px 1px 30px #3f8cf05d;
	text-align: left;
}
.modal-header {
	cursor: move;
}
.close > span {
	font-size: 130%;
}

/* draggable div */
.wrapper {
	font-family: "Sofia", sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
	width: 50%;
	border-radius: 10px;
	background: #fff;
	font-weight: 600;
}
.wrapper .header {
	font-size: 32px;
	cursor: move;
	padding: 15px;
}
.wrapper .header.active {
	cursor: move;
	user-select: none;
}
.wrapper hr {
	margin: 0 auto;
	width: 95%;
	border: 1px solid #00000083;
}
.wrapper .content {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper .content .icon {
	width: 85px;
	height: 85px;
	border: 5px solid #0084ff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon i {
	font-size: 60px;
	color: #0084ff;
}
.wrapper .title {
	margin: 20px auto;
	padding: 10px;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
}
